dialog {
    display: none;
}

dialog[open] {
    position: fixed;
    top: 50%;
    bottom: 50%;
    padding: 0;
    z-index: 99;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background-color: var(--bg-second);
    border: 1px solid var(--text-second);

}

dialog > div {
    margin: 1em;
}

dialog > div button {
    margin: 1em;
}

dialog::backdrop {
    backdrop-filter: blur(4px);
}

.close-btn {
    flex: 0;
    color: var(--text);
    background-color: transparent;
    border: none;
    font-weight: bold;

}

.close-btn:hover {
    color: var(--orange-primary);
    border: none;
}