form > *{
    margin: 1em;
}

.error {
    color: red;
}

@media (width <= 500px) {
    .form {
        padding: 0;
    }

    .form-container {
        margin-left: 0;
        margin-right: 0;
    }
}

.input-container {
    display: flex;
    flex-direction: column;
}

.main-content {
    display: flex;
}
