.header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    top: 0;
    padding: 1em 0;
    height: 3em;
    align-items: center;
    font-size: 1.2em;

    border-bottom: 2px solid var(--yellow-dark);
    background-color: var(--bg-second);
}

.logo {
    font-size: 2em;
    font-weight: bold;
    color: transparent;
    background-clip: text;
    background-image: linear-gradient(to right,
            var(--orange-primary),
            var(--yellow-primary));
}

nav {
    flex: 1;
    display: flex;
    justify-content: center;
    margin: 1em;
}

.form-search-bar {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-bar {
    flex-shrink: 1;
    padding: 0.6em 1em;
    margin: 0;
    border-radius: 8px 0 0 8px;
    border: 1px solid transparent;
}

.search-bar:focus {
    outline: none;
    border: 1px solid var(--yellow-dark);
}

.form-search-bar button {
    margin: 0;
    padding: 0.4em 0.6em;
    border-radius: 0 8px 8px 0;
    border: 1px solid transparent;
    border-left: 1px solid var(--text-second);
    background-color: var(--bg-highlight);
    margin-right: 1em;
}

.search-icon {
    width: 1.5rem;
}

.profile {
    flex-shrink: 0;
    margin-right: 1em;
}

@media (width <=450px) {
    .logo {
        font-size: 1em;
    }

    .search-bar {
        width: 30%;
    }
}