.header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    /* position: fixed; */
    top: 0;
    padding: 1em 0;
    height: 3em;
    align-items: center;

    border-bottom: 2px solid var(--purple-subtle);
}

.logo {
    font-size: 2em;
    font-weight: bold;
    color: transparent;
    background-clip: text;
    background-image: linear-gradient(
        to right, 
        var(--orange), 
        var(--purple)      
    );
}


nav {
    flex: 1;
    display: flex;
    justify-content: center;
}

.form-search-bar {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-bar {
    flex: 1;
    padding: 0.5rem;
    max-width: 50%;
    margin: 0;
    border-radius: 8px 0 0 8px;
    border: 1px solid transparent;
}

.search-bar:focus {
    border: 1px solid var(--purple);
    outline: none;
}

.form-search-bar button {
    margin: 0;
    border-radius: 0 8px 8px 0;
    border: 1px solid transparent;
    background-color: var(--bg-highlight);
}

.form-search-bar button:hover {
    background-color: var(--bg-highlight);
    border: 1px solid var(--purple);
}

.profile {
    flex-shrink: 0;
    margin-right: 1em;
}

@media (width <= 450px) {
    .logo {
        font-size: 1em;
    }
}