.header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    /* position: fixed; */
    top: 0;
}

nav {
    flex: 1;
    display: flex;
    justify-content: center;
}

.profile {
    flex-shrink: 0;
}
