:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --bg: hsl(220,5%,12%);
  --bg-second: hsl(220,4%, 8%);
  --bg-highlight: hsl(220,6%, 18%);

  --orange-primary: hsl(25, 100%, 50%);
  --orange-second: hsl(25, 90%, 70%);
  --orange-dark: hsl(25, 80%, 35%);

  --yellow-primary: hsl(45, 100%, 55%);
  --yellow-second: hsl(45, 100%, 75%);
  --yellow-dark: hsl(45, 80%, 35%);

  --text-heading: hsl(0,0%, 100%);
  --text: hsl(0,0%, 90%);
  --text-second: hsl(0, 0%, 55%);

  --error: hsl(0, 70%, 55%);
}

a {
  text-decoration: inherit;
  color: var(--yellow-primary)
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}


body {
  background-color: var(--bg);
  color: var(--text-heading);
}

label, p {
  margin: 1em;
}

input {
  font-size: 1.125rem;
  background-color: var(--bg-highlight);
  border: 2px solid var(--text-second)
}

input:is(:-webkit-autofill, :auto-fill):focus {
  outline: 2px solid darkorange;
}

:focus:focus-visible {
  outline: 2px solid var(--yellow-primary);
}
