:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --bg: hsl(0,0%,5%);
  --bg-second: hsl(0,0%, 10%);
  --bg-highlight: hsl(0,0%, 20%);

  --purple: hsl(270, 80%, 65%);
  --purple-subtle: hsl(270, 40%, 20%);

  --teal: hsl(175, 80%, 55%);

  --text-heading: hsl(0,0%, 90%);
  --text: hsl(0,0%, 80%);
  --text-second: hsl(0, 0%, 50%);

  --error: hsl(0, 70%, 55%);
}

a {
  text-decoration: inherit;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;

  background-color: var(--bg-highlight);
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

body {
  background-color: var(--bg);
  color: var(--text-heading);
}

label, p {
  margin: 1em;
}

input {
  font-size: 1.125rem;
}

/* @media (prefers-color-scheme: light) {
  :root {
    --main: hsl(0,0%,95%);
    --secondary: hsl(0,0%, 10%);
    --highlight: hsl(0,0%, 20%);

    --text-heading: hsl(0,0%, 90%);
    --text: hsl(0,0%, 80%);
  }
} */

