.results-container {
    display: flex;
    max-width: 1280px;
    height: 100%;
    width: 100%;
    gap: 2em;
}

.categories-container {
    flex-shrink: 0;
}

.results-container > :first-child{
    margin-left: auto;
    margin-right: auto;
    flex-grow: 1;
    justify-self: center;
    padding-left: 1em;
}

.sort {
    border-bottom: 2px solid var(--orange-dark);
    padding: 0 1em;
}

.sort button {
    background-color: transparent;
}

.sort button.selected {
    color: var(--orange-second);
}

.media-card {
    display: flex;
    position: relative;
    border: 1px solid var(--text);
    margin: 2em 0 3em;
    background-color: var(--bg-second);
    cursor: pointer;
}

.media-type {
    position:absolute;
    top: -1em;
    background-color: var(--bg-second);
    left: 40%;
    right: 40%;
    border: 1px solid var(--text);
    font-weight: bold;
    border-radius: 8px;
}

.media-card * {
    margin: 0;
}

.media-card h3 {
    font-size: 1.5rem;
    padding: 0.5rem 0;
}

.release-year {
    color: var(--text-second);
}

.rating {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 0.5rem 0 0.5rem;
    margin: 0.5rem 0;
    border-left: 1px solid var(--text-second);
}