.results-container {
    display: flex;
    max-width: 1280px;
    /* align-self: ; */
    height: 100%;
    position: relative;
}

.sort {
    border-bottom: 2px solid var(--orange);
    padding: 0 1em;
    /* box-shadow: 0px 5px 5px var(--orange); */
}

.sort button {
    background-color: transparent;
}

.sort button.selected {
    color: var(--orange);
}

.media-card {
    display: flex;
    position: relative;
    border: 1px solid var(--text);
    margin: 2em 0 3em;
    background-color: var(--bg-second);
}

.media-type {
    position:absolute;
    top: -1em;
    background-color: var(--bg-second);
    left: 40%;
    right: 40%;
    border: 1px solid var(--purple);
    font-weight: bold;
    border-radius: 8px;
}

.media-card * {
    margin: 0;
}

.media-card h3 {
    font-size: 1.5rem;
    padding: 0.5rem 0;
}

.release-year {
    color: var(--text-second);
}

.rating {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 0.5rem 0 0.5rem;
    margin: 0.5rem 0;
    border-left: 1px solid var(--text-second);
}